$background: #FFFFFF;
$primaryColor: #9534D2;
$borderLight: #CED2DA;

$fontFamily: 'Inter';
$fontSize: 16px;
$fontSize2: 14px;
$fontSize32: 32px;

$regularWeight: 400;
$mediumWeight: 500;
$semiBoldWeight: 600;
$boldWeight: 700;

$textPrimary: #141C24;
$textSecondary: #344051;
$textTertiary: #637083
