@import "@assets/styles/global";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: $regularWeight;

  color-scheme: light dark;
  color: $textPrimary;
  background-color: $background;
}

body {
  overflow-y: scroll;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
