@import "@assets/styles/global";

.container {
  display: flex;
  gap: 32px;

  .film_image {
    width: 250px;
    height: 300px;
    border-radius: 8px;
  }

  .details_info_container {
    h1 {
      font-size: $fontSize32;
      font-weight: $boldWeight;
      line-height: 36px;
    }

    .original_name {
      color: rgb(99, 112, 131);
      font-size: 14px;
      margin-top: 4px;
      margin-bottom: 18px;
    }

    .rating {
      color: rgb(99, 112, 131);
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      margin-bottom: 16px;
    }
  }

  .description {
    color: rgb(52, 64, 81);
    width: 613px;
  }
}
