.tabs {
  display: inline-flex;
  padding: 2px;
  background-color: rgb(245, 245, 248);
  border-radius: 16px;
  color: rgb(99, 112, 131);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.schedule_title {
  margin-top: 48px;
  margin-bottom: 26px;
}
