.tabs {
  margin-top: 50px;
  display: inline-flex;
  padding: 2px;
  background-color: rgb(245, 245, 248);
  border-radius: 16px;
  color: rgb(99, 112, 131);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
